<div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="form-container">
                    <div class="form-img"></div>
                    <form class="form-horizontal">
                        <h3 class="title">Registration Info</h3>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="car model year">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Gear type">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="features of cars">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Car number">
                        </div>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="none" selected="">Fuel Type</option>
                                <option value="male">Diesel</option>
                                <option value="female">Petrol</option>
                                <option value="other">Electric</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Seating capacity">
                        </div>
                        
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Kilometer Used">
                        </div>
                        <button type="button" class="btn btn-default">images</button>
                        <button type="button" class="btn btn-default">add car</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
